<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klz.iblog.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.klz.iblog.entity.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="createTime" jdbcType="DATE" property="createtime" />
    <result column="updateTime" jdbcType="DATE" property="updatetime" />
    <result column="deleteTime" jdbcType="DATE" property="deletetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, status, createTime, updateTime, deleteTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.klz.iblog.entity.Role">
    insert into role (id, name, status, 
      createTime, updateTime, deleteTime
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{createtime,jdbcType=DATE}, #{updatetime,jdbcType=DATE}, #{deletetime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.klz.iblog.entity.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="deletetime != null">
        deleteTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=DATE},
      </if>
      <if test="deletetime != null">
        #{deletetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.klz.iblog.entity.Role">
    update role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=DATE},
      </if>
      <if test="deletetime != null">
        deleteTime = #{deletetime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.klz.iblog.entity.Role">
    update role
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      createTime = #{createtime,jdbcType=DATE},
      updateTime = #{updatetime,jdbcType=DATE},
      deleteTime = #{deletetime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>